html, body, #map-canvas
{
    height: 100%;
    margin: 0px;
    padding: 0px
}

ul
{
    list-style-type:none;
}

#map-canvas
{
    width: 80%;
    hight: 100%;
}

#bus-numbers
{
    width: 20%;
    hight: 100%;
}